# Terraform files to ignore
*.tfstate
*.tfstate.backup
*.tfvars       
*.tfvars.json

crash.log
override.tf
override.tf.json
.terraformrc
terraform.rc

.terraform/

#vault secret file 
vault_pass.txt
